<!DOCTYPE html>
<html>
    <head>
        <title>Trial Post to Pyhton</title>
    </head>
    <body>

<!--    <label for="data">Data To POST: </label><input type="text" name="input1" id="data"/>
    <button id="submit" onclick="post()">Say</button>-->

    <p>
        Talia: <span id="talia"></span>
    </p>
    <p>
        Donatello: <span id="donatello" ></span>
    </p>

    <script type="text/javascript" src="{{ url_for('static', filename='ext_lib/jQuery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/read_knowledge_base.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/globals.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/service.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/topics/greetings.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='lib/topics/introduction.js') }}"></script>

    </body>

</html>